/*

1. HEADER
2. NAV
3. CONTENT
4. FOOTER

*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

header {
    background-image: url("../images/Valhalla_02.jpg");
    background-size: 100% auto;
    height: 200px;
    display: flex;
    align-items: center;
}

header img {
    height: 150px;
    width: 350px;
}

/* NAV */

nav {
    background-image: url("../images/fnc-bg3.jpeg");
}

nav ul{

    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: -4px;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;

    display: block;
    padding: 15px;
    color: black;
}

nav a:hover {
    color: white;
    text-shadow: 2px 2px 2px pink;
}

/* CONTENT */

main {
    flex: 1;

    background-image: linear-gradient(lightblue, white, lightblue);
}

.content {
   padding: 30px;
   margin-left: 150px;
   margin-right: 150px;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

img {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.fnc-games th {
    font-size: 20px;
}

.fnc-games th {
    background-color: lightgray;
}

.fnc-games td {
    text-align: center;
    vertical-align: middle;
}

.fnc-games tr:nth-child(odd) {
    background-color: white;
}

.fnc-games tr:nth-child(even) {
    background-color: lightgray;
}

/* FOOTER */

footer {
    background-image: url("../images/Valhalla_03.jpeg");
    background-size: 100% auto;
    padding: 30px;
}